:host {
  display: flex;
  height: 92vh;
  width: 100%;

  .contact-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 0 42px;

    @media (max-width: 1423px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 512px) {
      justify-content: center;
    }

    .grid-one {
      display: flex;
      align-items: center;
      margin-bottom: 110px;

      .contact-title div {
        font-size: 10em;
        cursor: default;

        @media (max-width: 947px) {
          font-size: 6em;
        }

        @media (max-width: 512px) {
          font-size: 4em;
        }
      }
    }

    .grid-two {
      display: flex;
      justify-content: center;
      align-items: center;

      .contact-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 2em;

        @media (max-width: 947px) {
          display: flex;
          flex-direction: column;
        }

        .emails {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .socials {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        a {
          text-decoration: none;
          width: 100%;
        }

        button {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 12px 12px;
          cursor: pointer;
          background-color: transparent;
          color: var(--mat-app-text-color);
          border: none;
          border-bottom: 1px solid;
          text-align: right;
          font-size: 1em;
          transition: 0.25s ease-in;

          &:hover {
            background-color: var(--mat-app-text-color);
            color: var(--mat-app-background-color);
          }
        }
      }
    }
  }
}
