<div class="contact-container">
  <div class="contact-content">
    <div class="grid-one">
      <div class="contact-title">
        <div>Chceš se</div>
        <div>spojit</div>
        <div>?</div>
      </div>
    </div>
    <div class="grid-two">
      <div class="contact-socials">
        <div class="emails">
          <a href="mailto:daniel.odstrcil@email.cz">
            <button>
              <div>Email</div>
              <div>daniel.odstrcilemail.cz</div>
            </button>
          </a>
          <a href="https://linktr.ee/danielodstrcil" target="_blank">
            <button>
              <div>Linktree</div>
              <div>danielodstrcil</div>
            </button>
          </a>
        </div>
        <div class="socials">
          <a href="mailto:projekty@d3dworks.cz">
            <button>
              <div>Email</div>
              <div>projektyd3dworks.cz</div>
            </button>
          </a>
          <a href="https://linktr.ee/d3dworks" target="_blank">
            <button>
              <div>Linktree</div>
              <div>d3dworks</div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
