:host {
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;

    .header-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding: 22px 42px;

      @media (max-width: 947px) {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      @media (max-width: 425px) {
        padding: 20px;
      }
    }

    .grid-one {
      display: grid;
      justify-content: flex-start;
      align-items: center;

      .header-logo {
        display: flex;
      }

      a {
        text-decoration: none;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 1.5em;
        color: var(--mat-app-text-color);
      }
    }

    .grid-two {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 947px) {
        width: 100%;
      }

      .header-anchor-links {
        display: flex;
        gap: 4em;

        @media (max-width: 425px) {
          flex-direction: column;
          align-items: flex-start;
        }

        @media (max-width: 512px) {
          gap: 1em;
        }

        a {
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          text-decoration: none;
          color: var(--mat-app-text-color);

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        a::after {
          content: "";
          display: block;
          width: 100%;
          height: 0.5px;
          transition: transform 0.3s ease-out;
          background-color: var(--mat-app-text-color);
          transform-origin: bottom right;
          transform: scaleX(0);
        }

        a:hover::after {
          width: 100%;
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        a.active-link {
          border-bottom: 0.5px solid;
        }
      }

      .header-theme-switcher {
        display: flex;
      }
    }
  }
}
