:host {
  display: flex;
  height: 100%;
  width: 100%;

  .introduction-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .introduction-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 0 42px;

    @media (max-width: 425px) {
      padding: 0 20px;
      grid-template-rows: auto 1fr;
      gap: 2em;
    }
  }

  .grid-one {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    p {
      display: flex;
      align-items: flex-start;
      grid-column: 2;
      margin-top: 120px;
      margin-bottom: 0px;
      font-size: 2em;
      width: 80%;
      cursor: default;

      @media (max-width: 425px) {
        grid-column: 1;
        margin-top: 60px;
        font-size: 1.1em;
        width: 100%;
        align-items: center;
      }
    }

    @media (max-width: 947px) {
      display: flex;
      justify-content: flex-start;

      p {
        font-size: 1.6em;
      }
    }

    @media (max-width: 512px) {
      p {
        font-size: 1.2em;
      }
    }
  }

  .grid-two {
    display: flex;
    align-items: flex-end;

    @media (max-width: 947px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }

    @media (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .introduction-title {
      margin: 0;
      font-size: 10em;
      cursor: default;
      text-decoration: none;
      color: var(--mat-app-text-color);

      @media (max-width: 947px) {
        font-size: 8em;
      }

      @media (max-width: 512px) {
        font-size: 4em;
      }

      @media (max-width: 425px) {
        font-size: 3.5em;
      }
    }

    .keyword-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;
      cursor: default;

      @media (max-width: 947px) {
        div {
          justify-content: flex-start;
        }
      }

      @media (max-width: 425px) {
        height: auto;
        font-size: 1.1em;

        div {
          justify-content: center;
        }
      }

      .key-connector {
        justify-content: flex-start;

        @media (max-width: 425px) {
          justify-content: center;
        }
      }

      div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
