<div id="introduction" class="introduction-container">
  <div class="introduction-content">
    <div class="grid-one">
      <p>
        Jsem student a nadšenec do technologií, který se věnuje webovému vývoji a 3D tisku.
      </p>
    </div>
    <div class="grid-two">
      <div class="introduction-title">
        <span>d</span>
        <span>a</span>
        <span>n</span>
        <span>i</span>
        <span>e</span>
        <span>l</span>
      </div>
      <div class="keyword-description">
        <div>student & web developer</div>
        <div class="key-connector">&</div>
        <div>3D tisk / auta</div>
      </div>
    </div>
  </div>
</div>
