:host {
  display: flex;
  height: 100%;
  width: 100%;

  .work-container {
    height: 100%;
    width: 100%;
    padding: 0 42px;
    overflow-y: auto;

    @media (max-width: 1024px) {
      padding: 0 20px;
    }

    @media (max-width: 425px) {
      padding: 0 20px;
    }

    .work-title {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 10em;
      box-shadow: 0 1px 0;
      cursor: default;

      @media (max-width: 1024px) {
        font-size: 7em;
      }

      @media (max-width: 768px) {
        font-size: 5em;
      }

      @media (max-width: 425px) {
        font-size: 3em;
      }
    }

    .work-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4em;
      padding: 2em 0;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 3em;
      }

      .work-description {
        display: flex;
        flex-direction: column;
        cursor: default;
      }

      .work-desc-one,
      .work-desc-two,
      .work-desc-three {
        font-size: 1.5em;
        text-align: justify;
        line-height: 1.5em;

        @media (max-width: 768px) {
          font-size: 1.2em;
        }

        @media (max-width: 425px) {
          font-size: 1em;
          text-align: left;
        }
      }

      .work-visuals {
        display: flex;
        align-items: center;
        justify-content: center;

        .work-vis-one,
        .work-vis-two,
        .work-vis-three {
          img {
            width: 100%;
            height: auto;
            max-width: 888.88px;
            box-shadow: 1px 1px 5px 2px var(--mat-app-text-color);

            @media (max-width: 1024px) {
              max-width: 100%;
            }
          }
        }
      }
    }

    .con-links {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 1em;
        text-align: center;
      }

      .cv-download,
      .git-link {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
          justify-content: center;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: var(--mat-app-text-color);
          font-size: 5em;

          @media (max-width: 1024px) {
            font-size: 4em;
          }

          @media (max-width: 768px) {
            font-size: 3em;
          }

          @media (max-width: 425px) {
            font-size: 2em;
          }
        }
      }

      .cv-download {
        justify-content: flex-start;
      }

      .git-link {
        justify-content: flex-end;
      }
    }
  }
}
