<div class="work-container">
  <div class="work-title">Vybrané projekty</div>
  <div class="work-content">
    <div class="work-description">
      <div class="work-desc-one">
        Tento web je můj osobní projekt, kde kombinuji vášeň pro technologie a design.
        Vyvinutý pomocí Reactu a Next.js, nabízí moderní a přehledné prostředí,
        kde návštěvníci mohou prozkoumat mé projekty, ukázky 3D tisků a další mé
        technologické experimenty. Web ukazuje nejen mé technické dovednosti,
        ale také kreativní přístup k řešení problémů.
      </div>
    </div>
    <div class="work-visuals">
      <div class="work-vis-one">
        <img src="../../../assets/images/Prace3.gif" />
      </div>
    </div>

    <div class="work-description">
      <div class="work-desc-two">
        Projekt "3D Garage" je moje studentská práce zaměřená na návrh a tisk
        vlastních modelů aut. V rámci projektu jsem vytvořil několik prototypů,
        které jsem tiskl na různých typech materiálů. Cílem bylo nejen zvládnout
        technologii 3D tisku, ale i porozumět konstrukčnímu designu a ergonomii modelů.
      </div>
    </div>
    <div class="work-visuals">
      <div class="work-vis-two">
        <img src="../../../assets/images/Prace2.jpg" />
      </div>
    </div>

    <div class="work-description">
      <div class="work-desc-three">
        Jako součást volného času a studentského projektu jsem založil "CodeHub",
        malou komunitu, kde sdílím své zkušenosti s webovým vývojem a 3D tiskem.
        Organizujeme workshopy, ukazujeme tipy pro začínající vývojáře a tiskneme
        společné projekty. Cílem je propojit techniku, kreativitu a spolupráci.
      </div>
    </div>
    <div class="work-visuals">
      <div class="work-vis-three">
        <img src="../../../assets/images/Prace1.jpg" />
      </div>
    </div>
  </div>
  <div class="con-links">
    <div class="cv-download">
      <a href="">Stáhnout Životopis</a>
    </div>
    <div class="git-link">
      <a href="https://github.com/danielodstrcil" target="_blank">GitHub</a>
    </div>
  </div>
</div>
